@import url(common.css);

*{box-sizing: border-box;}

/* ----------->> header <<----------- */
header{
  width: 100%;
  height: 60px;
  background-color: #34343d;
  position:fixed;
	z-index:1000;  /*비주얼보다 위에 올라오게 함*/
}
header h1{padding:10px 15px;}   
header h1 img{width:100px;} 

/* Trigger */
.trigger {
  /* border: 1px solid red; */
  position: absolute;
  right: 10px;
  top: 20px;
  width: 40px;
  height: 20px;
  cursor: pointer;
}
.trigger span{
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
	border-radius: 35px;
  transition: 0.3s;
}
.trigger span:nth-child(1){top: 0;}
.trigger span:nth-child(2){top: 50%;width: 80%;}
.trigger span:nth-child(3){top: 100%;}

/* jQuery 에서 trigger클릭시 바뀌는 부분 */
.trigger.active span{background-color: #fff;}
.trigger.active span:nth-child(1){top: 50%;transform: rotate(45deg);}
.trigger.active span:nth-child(2){opacity: 0;}
.trigger.active span:nth-child(3){top: 50%;transform: rotate(-45deg);}


/* Menu */
.gnb_list{
  display: none;	
	position:absolute;
	top:100%;
	width:100%;
	background:#34343d;
}
.gnb_list li{padding: 8px 0;}
.gnb_list li:last-child{margin-bottom: 20px;}
.gnb_list li a{
	display:block; 
	font-size:16px; 
	font-size:1rem; 
	color:#fff; 
	text-transform:uppercase;
	text-align:center;
}
.gnb_list li a:hover{color:#3da5bb}

/* ----------->> Main Swiper Plug-In <<----------- */
main{padding-top:60px;}  /*헤더부분을 고정해서 위에 떠 있으므로 비주얼을 헤더높이만큼 내려줌*/

.gallery1 { /* 갤러리 전체영역 설정 */
  overflow:hidden; 
	position:relative; 
	width:100%; 
}
main img{  /*가변이미지*/
	width:100%; 
	max-width:100%;
}

/* 하단버튼 */
.gallery1 .nav1 { 
	position: absolute; 
	left:0px; 
	bottom:20px; 
	text-align: center;  
	z-index: 10; 
} 
.gallery1 .nav1 .swiper-pagination-bullet { /* 버튼모양설정 */
  background-color: transparent;  
	opacity:0.5; 
	width:10px; 
	height:10px; 
	margin-left:5px;
  border: 2px solid #fff;  
	border-radius:50%; 
} 
.gallery1 .nav1 .swiper-pagination-bullet-active{  /* 메뉴on 설정(현재위치활성화) */
	background-color: rgba(0,0,0,0.7);
	opacity:1;
}


/* ----------->> Contents Banner  Slick.js Plug-In <<----------- */
#gallery2{
	width: 100%;
	/* background-color: yellow; */
}
h3.stitle{
	text-align: center;
	color:#000;
	font-size:24px;
	font-size:1.5rem;
	font-weight:400;
	text-transform: capitalize;
	padding: 20px 0;
}
.myslider{padding-bottom: 30px;}
.myslider div{margin:0 2px;}
.myslider div:last-child{margin: 0;}
.myslider img{  
	width:100%;
	max-width:100%;
}

.myslider .slick-arrow{
  bottom: 0;
  width: 40px;
  height: 40px; 
}
.myslider .slick-prev{
  left: 10px;
	top: -10%;
}
.myslider .slick-next{
  right: 10px;
	top: -10%;
}
.slick-prev:before, .slick-next:before {
  color: #000;
	font-weight: bold;
}


/* ----------->> contents <<----------- */
#banner{width: 100%;}
#banner article{
	flex: 1;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 45px;
	color: #fff;
}
#banner article:nth-child(1){background-color: #ddd;}
#banner article:nth-child(2){background-color: #999;}
#banner article:nth-child(3){background-color: #666;}

#quick_link{display: flex;}
#quick_link a{ 
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
}
#quick_link .ficon{  /*ICON FONT*/
	color:#fff;
	font-size:40px;
}
#quick_link a span{ 
	color:#fff;
	text-transform:uppercase;
	font-size:14px;
	font-size:0.875rem;
}
#quick_link a:nth-child(1){background:#d6706a;}
#quick_link a:nth-child(2){background:#9aa2a1;}
#quick_link a:nth-child(3){background:#6a7390;}


/* ----------->> footer <<----------- */
footer{
	width:100%;
	padding-top: 10px;
	background:#27272e;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
footer img{width:120px;}
footer .copyright{ 
	padding:15px 0;
	font-size:16px; 
	font-size:1rem; 
	color:#fff; 
}